<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
    </head>
    <body>
        <h1>Hello ASP.net MVC!</h1>
        @{
            var StringList = new List<string>{
                "one", 
                "two", 
                "Three",
                "Four"
            };
            foreach(var word in StringList){
                <p>@word</p>
            }
        }
    </body>
</html>