<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio Contacts</title>
        <link rel="Stylesheet" href="~/css/home_style.css">
    </head>

    <body>
        <div class="wrapper">
            <div id="Nav">
                <a href="/">Home</a>
                <a href="projects">Projects</a>
                <a href="contact">Contacts</a>
            </div>
            <form type="post" id="form">
                Name: <input type="text" name="name">
                Email: <input type="text" name="email">
                <p>Enter Message: </p> <textArea cols=10 rows=4></textArea>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>