<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio projects</title>
        <link rel="Stylesheet" href="~/css/home_style.css">
    </head>

    <body>
        <div class="wrapper">
            <div id="Nav">
                <a href="/">Home</a>
                <a href="projects">Projects</a>
                <a href="contact">Contacts</a>
            </div>
            <div id="projects">
                <h1> Projects:
                    <h3>Destroy Consoles</h3>
                    <p>spend years trolling the internet to destroy the reputation of game consoles to evertually make them extinct</p>
                    <h3>Laugh at Console Peseants</h3>
                    <p>find at least one to laugh at each day</p>
                    <h3>Upgrade your PC</h3>
                    <p>Every 3 months or so your pc is out of date so  you better spend some money on parts to maintain your supremacy</p>
                </h1>
            </div>
        </div>
    </body>
</html>